@charset "UTF-8";
body{
background-color:darkgrey;
margin-top: 10px;
width: auto;
font-family: sans-serif;
font-size: 30px;
}
h1{
    color: #0818f4;
    text-shadow: 1px 1px 4px #050505c9;
p{
    
    font-size:20%;
    text-align: center;
}
img{
    margin: auto;
    padding-left: 1px;
    border-radius: 25px 10px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px black;
}
a{
    padding: 30px;
    text-align: center;
}