*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /* background: black;*/
}
.container{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.logo{
    font-size: 35px;
    font-style: italic;
    color:blue;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size:19px;
    color: green;
    transition: 0.6s;
}
nav ul li a:hover{
    background-color: grey;
    border-radius: 25px;
}
div.logo img{
   display: inline-block;
   margin: 5px;
   padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid red;
}
span{
    display: inline-block;
    align-items: center; 
     border: solid;
}