@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family:'android';
  src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype');
  font-weight: normal;
}
:root{
    --cor0:#c5ebd6;/*não pode ter espaços nos nomes das variáveis.*/
    --cor1:#83e1ad;
    --cor2:#83e1ad;
    --cor3:#2ddc84;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrao:arial,verdana,sans-serif;
    --fonte-destaque: 'Bebas Neue',cursive;
    --fonte-android:'android';
}

*{
  /*esse asteristico significa  que é um seletor global.*/
  margin: 0px;/*quando o margin é zero, a margem fica  bem colada na tela*/
  padding: 0px;
}
body{
background-color: var(--cor0);
font-family: var(--fonte-padrao);
}
a.externo::after{
  content: '\00A0\1f517';
}

header{
  background-color: var(--cor4);
  min-height: 150px;/*altura mínima*/
  text-align: center; /*centralizando o cabeçalho*/
  padding-top: 30px;
  background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));

}

header >h1{
  color: white;
  font-family: var(--fonte-destaque);  
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
  font-weight: normal;

  
}

header >p{
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  color:white;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
}

nav{
  background-color: var(--cor5);
  padding: 10px;
  box-shadow:0px 7px 7px rgba(0, 0, 0, 0.192);
}
nav > a {
  color: var(--cor1);
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.5s; /*altera o efeito de  transição do menu*/
}

nav >a:hover{
  background-color:var(--cor3);
  color: var(--cor5);

}

main{
  min-width: 300px; /*lagura mínima*/
  max-width: 1000px;/* largura máxima*/
  margin: auto;
  margin-bottom: 30px; /*margem de baixo*/
  background-color: white;
  box-shadow: 0px 0px 1px black;
  padding:20px; /*preenchimento*/
  border-bottom-left-radius: 10px ; /*Usamos  essa propriedade  para  arredondamento de  lados individuais.*/
  border-bottom-right-radius: 10px;
  
}

main h1{
  color: var(--cor5);/*variável de  cores*/
  font-family: var(--fonte-android);/*variável de fontes*/
  font-weight: normal;
  font-size: 1.8em;
}

main h2{
  font-family: var(--fonte-android);
  color: var(--cor4);
  font-size: 1.3em;
  background-image: linear-gradient(to right, var(--cor1),transparent);
  text-indent: 8px;
  font-weight: normal;
}

main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  font-size: 1em;
  line-height: 2em;/*altura  do espaçamento entre linhas*/
}

main strong{
  color: var(--cor4);
  font-weight: bold;
  padding: 2px 6px;
}

main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor5);
  background-color: var(--cor1);
  padding: 2px 6px;
}

main a:hover{
  text-decoration: underline;
  color: var(--cor4);
}

main img{
  width: 100%; /* largura em relação a viewport*/
}

main img.pequena{
  max-width: 350px;
  display: block;/*ajuada a centralizar a imagem , junto com a margin auto.*/ 
  margin: auto; /*configura todas as margens  automáticamente, centralizando a  imagem ou o bloco*/
}

div.video{
  background-color: var(--cor5);
  margin-bottom: 30px;
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom:59%;
  position: relative;

}

div.video >  iframe{
  position:absolute;
  top: 5%;
  left:5%;
  width: 90%;
  height: 90%;
}

aside{
  background-color: var(--cor1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.283);

}

aside h3{
  background-color: var(--cor4);
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px; /*os valores  negativos servem para que a margem cresça para fora.*/
  border-radius: 10px 10px 0px 0px;/*os dois primeiros valores servem para os raios superiores, e os  dois ultimos servem para os raios inferiores*/

}
aside>ul{
  list-style-type:'\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}


footer{
  background-color: var(--cor5);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding:5px;
}

footer a{
  color: white;
  font-weight: bolder;
  text-decoration: none;  
}

footer a:hover{
  text-decoration: underline;
  color: var(--cor1);
}

